<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        .validationError {
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand"><b>BestProfi Task Manager</b></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-link" type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <a class="btn btn-info" href="#" th:href="@{/}"> Back to List of Tasks </a>
    </div>
    <br>
    <div class="row">
        <div class="well well-sm">
            <h4>Create Task</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/save}" th:object="${task}" method="post">
                <div class="form-group">
                    <label for="name">Name: <span class="validationError">*</span></label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label for="description">Description: <span class="validationError">*</span></label>
                    <input type="text" class="form-control" id="description" th:field="*{description}">
                    <span class="validationError" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="form-group">
                    <label for="url">Url: <span class="validationError">*</span></label>
                    <input type="url" class="form-control" id="url" th:field="*{url}">
                    <span class="validationError" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
                </div>
                <div class="form-group">
                    <label for="parameter">Parameters: <span class="validationError">*</span></label>
                    <textarea class="form-control" id="parameter" rows="3" th:field="*{parameter}" placeholder="JSON format text"></textarea>
                    <span class="validationError" th:if="${#fields.hasErrors('parameter')}" th:errors="*{parameter}"></span>
                </div>
                <div class="form-group">
                    <label for="method">Method: <span class="validationError">*</span></label>
                    <input type="text" class="form-control" id="method" th:field="*{method}">
                    <span class="validationError" th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></span>
                </div>
                <div class="form-group">
                    <label for="cronTime">Cron Time: <span class="validationError">*</span></label>
                    <input type="text" class="form-control" id="cronTime" th:field="*{cronTime}">
                    <span class="validationError" th:if="${#fields.hasErrors('cronTime')}" th:errors="*{cronTime}"></span>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>