<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        /*.status{*/
        /*    color: green;*/
        /*}*/

        /*.disable_a_href{*/
        /*    pointer-events: none;*/
        /*}*/
        /*.enable_a_href{*/
        /*    pointer-events: auto;*/
        /*}*/
    </style>

    <script th:inline="javascript">

        var strColorPairs = Array(
            {'status' : 'Activated', 'color' : 'green'},
            {'status' : 'Deactivated', 'color' : 'orange'},
            {'status' : 'Created', 'color' : 'grey'},
            {'status' : 'Running', 'color' : 'green'},
            {'status' : 'Interrupted', 'color' : 'red'}
        );

        function myInit(){
            var curContent = document.getElementsByClassName("status");
            //$('#deactivate*').addClass("disable_a_href");
             for(i = 0; i<curContent.length; i++){
                console.log(curContent[i].outerText);

                 if(curContent[i].outerText === "Created"){

                     // var elmDeactivate = $('#deactivate*')[i];
                     // var jelmDeactivate = $(elmDeactivate);
                     // jelmDeactivate.addClass("disable_a_href");

                     var elementsEdit = document.querySelectorAll('#edit');
                     elementsEdit[i].classList.remove("disabled");

                     var elementsDelete = document.querySelectorAll('#delete');
                     elementsDelete[i].classList.remove("disabled");


                     var elementsActivate = document.querySelectorAll('#activate');
                     elementsActivate[i].classList.remove("disabled");

                     var elementsDeactivate = document.querySelectorAll('#deactivate');
                     elementsDeactivate[i].classList.add("disabled");

                     var elementsStart = document.querySelectorAll('#start');
                     elementsStart[i].classList.remove("disabled");

                     var elementsStop = document.querySelectorAll('#stop');
                     elementsStop[i].classList.add("disabled");

                 }

                 if(curContent[i].outerText === "Activated"){

                     var elementsActivate = document.querySelectorAll('#activate');
                     elementsActivate[i].classList.add("disabled");

                     var elementsDeactivate = document.querySelectorAll('#deactivate');
                     elementsDeactivate[i].classList.remove("disabled");

                     var elementsStart = document.querySelectorAll('#start');
                     elementsStart[i].classList.remove("disabled");

                     var elementsStop = document.querySelectorAll('#stop');
                     elementsStop[i].classList.add("disabled");

                     var elementsEdit = document.querySelectorAll('#edit');
                     elementsEdit[i].classList.add("disabled");

                     var elementsDelete = document.querySelectorAll('#delete');
                     elementsDelete[i].classList.add("disabled");

                 }

                 if(curContent[i].outerText === "Deactivated"){

                     var elementsActivate = document.querySelectorAll('#activate');
                     elementsActivate[i].classList.remove("disabled");

                     var elementsDeactivate = document.querySelectorAll('#deactivate');
                     elementsDeactivate[i].classList.add("disabled");

                     var elementsStart = document.querySelectorAll('#start');
                     elementsStart[i].classList.remove("disabled");

                     var elementsStop = document.querySelectorAll('#stop');
                     elementsStop[i].classList.add("disabled");

                     var elementsEdit = document.querySelectorAll('#edit');
                     elementsEdit[i].classList.remove("disabled");

                     var elementsDelete = document.querySelectorAll('#delete');
                     elementsDelete[i].classList.remove("disabled");

                 }

                 if(curContent[i].outerText === "Running"){

                     var elementsActivate = document.querySelectorAll('#activate');
                     elementsActivate[i].classList.add("disabled");

                     var elementsDeactivate = document.querySelectorAll('#deactivate');
                     elementsDeactivate[i].classList.add("disabled");

                     var elementsStart = document.querySelectorAll('#start');
                     elementsStart[i].classList.add("disabled");

                     var elementsStop = document.querySelectorAll('#stop');
                     elementsStop[i].classList.remove("disabled");

                     var elementsEdit = document.querySelectorAll('#edit');
                     elementsEdit[i].classList.add("disabled");

                     var elementsDelete = document.querySelectorAll('#delete');
                     elementsDelete[i].classList.add("disabled");

                 }

                 if(curContent[i].outerText === "Interrupted"){

                     var elementsActivate = document.querySelectorAll('#activate');
                     elementsActivate[i].classList.add("disabled");

                     var elementsDeactivate = document.querySelectorAll('#deactivate');
                     elementsDeactivate[i].classList.add("disabled");

                     var elementsStart = document.querySelectorAll('#start');
                     elementsStart[i].classList.remove("disabled");

                     var elementsStop = document.querySelectorAll('#stop');
                     elementsStop[i].classList.add("disabled");

                     var elementsEdit = document.querySelectorAll('#edit');
                     elementsEdit[i].classList.add("disabled");

                     var elementsDelete = document.querySelectorAll('#delete');
                     elementsDelete[i].classList.add("disabled");

                 }

                for(j = 0; j<strColorPairs.length; j++){
                    if(strColorPairs[j].status === curContent[i].outerText){
                        curContent[i].style.color = strColorPairs[j].color;
                    }
                }
            }

        }

    </script>

</head>
<body onload="myInit()">


<div class="container">
    <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand"><b>BestProfi Task Manager</b></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-link" type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <a class="btn btn-info" th:href="@{/createTask}">Create New Task</a>
    </div>
    <br>
    <div class="row">
        <div class="well well-sm">
            <h4>Tasks</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tasks.isEmpty()}">
                    <td colspan="3">No Tasks Available</td>
                </tr>
                <tr th:each="task : ${tasks}" th:name="${task.id}">
                    <td><span th:text="${task.name}"></span></td>
                    <td><span th:text="${task.description}"></span></td>
                    <td><span th:text="${task.status}" class="status"></span></td>
                    <td><a class="btn btn-link btn-xs" th:href="@{/viewTask/{id}(id=${task.id})}">View</a></td>
                    <td><a class="btn btn-warning btn-xs" id="edit" th:href="@{/editTask/{id}(id=${task.id})}">Edit</a></td>
                    <td><a class="btn btn-danger btn-xs" id="delete" th:href="@{/deleteTask/{id}(id=${task.id})}">Delete</a></td>
                    <td><a class="btn btn-primary btn-xs" id="activate" th:href="@{/activateTask/{id}(id=${task.id})}">Activate</a></td>
                    <td><a class="btn btn-danger btn-xs" id="deactivate" th:href="@{/deactivateTask/{id}(id=${task.id})}">Deactivate</a></td>
<!--                    <td><form th:action="@{/deactivateTask/{id}(id=${task.id})}">-->
<!--                        <input type="submit" class="btn btn-danger btn-xs" id="deactivate" value="Deactivate">-->
<!--                    </form></td>-->
                    <td><a class="btn btn-primary btn-xs" id="start" th:href="@{/startTask/{id}(id=${task.id})}">Start now</a></td>
                    <td><a class="btn btn-danger btn-xs" id="stop" th:href="@{/stopTask/{id}(id=${task.id})}">Stop now</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>

</body>
</html>