<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        .status{
            color: green;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand"><b>BestProfi Task Manager</b></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-link" type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <a class="btn btn-info" th:href="@{/createTask}">Create New Task</a>
    </div>
    <br>
    <div class="row">
        <div class="well well-sm">
            <h4>Tasks</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tasks.isEmpty()}">
                    <td colspan="3">No Tasks Available</td>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td><span th:text="${task.name}"></span></td>
                    <td><span th:text="${task.description}"></span></td>
                    <td><span th:text="${task.status}" class="status"></span></td>
                    <td><a class="btn btn-link btn-xs" th:href="@{/viewTask/{id}(id=${task.id})}">View</a></td>
                    <td><a class="btn btn-warning btn-xs" th:href="@{/editTask/{id}(id=${task.id})}">Edit</a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/deleteTask/{id}(id=${task.id})}">Delete</a></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/activateTask/{id}(id=${task.id})}">Activate</a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/deactivateTask/{id}(id=${task.id})}">Deactivate</a></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/startTask/{id}(id=${task.id})}">Start now</a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/stopTask/{id}(id=${task.id})}">Stop now</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>